<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <title>NMG MPS Report Generator</title>
 
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="/">MPS Report Generator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/settings/config">Settings</i></a>
        </li>
      </ul>
    </div>
      </nav>

  <div class="container mt-5">
   
    <div class="row">
      <div class="col-md-6 offset-md-3">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          {% if message.error %}
          <div class="alert alert-danger alert-dismissible" role="alert">
          
            {{ message.error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
             
        </div>
          {% endif %}
          {% if message.download_link %}
          <div class="alert alert-success alert-dismissible" role="alert">
          
              {{ message.text }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
               
          </div>
          <br/>
          <a class="pb-5" href="{{ url_for('finance_download', filename=message.download_link) }}">
              <button type="button" class="btn btn-primary">Download - {{message.download_name}}</button>
          </a>
        {% endif %}
          {% endfor %}
        {% endif %}
      {% endwith %}
    <h2>Create a new report</h2>
        <form action="/api/mps/report/run" method="post" enctype="multipart/form-data">
          <div class="form-group">


    <div class="fixed-bottom px-2 py-5 text-center bg-dark rounded mx-auto  text-light">
      
        

          <h4>Need to run this offline?</h4>
          <p>Click the download button below to access the offline version. <br> Click the Docs button below for a step by step guide on how to use MPS Report Generator in offline mode.</p>
          
          
          
          <a href="{{ url_for('exe_download') }}">
            <button class="btn btn-success">Download</button>
          </a>

          <!-- <a href="https://github.com/network-mapping-dev/mps-kpi">
            <button class="btn btn-info">Docs</button>
          </a> -->
          
<!-- Button trigger modal -->
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modelId" data-backdrop="false">
  Docs
</button>

<!-- Modal -->
<div class="modal mt-4 fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white-50">
        <h5 class="modal-title">MPS Report Generator EXE Documentation</h5>
          <button type="button" class="close text-white-50" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body text-black-50">
        <div class="row mb-20 align-items-start">
          <div class="col align-items-start">
              <h2>Using the windows mps_reporter_cli.exe</h2>
              <br>
                  
              <h3>Step 1. Hit download to get the zip file</h3>
              <br>
              <p>This zip contains everything you need to use the exe.
              <br>
              If you have already got the zip file downloaded and extracted on your PC you can skip this step.</p>
              
          </div>
      </div>
      <br>
      <div class="row mb-20 align-items-center">
        <div class="col">
            <h3>Step 2. Right click the zip and extract it  </h3>
            <br>
            <p>The correct extract option should result in a folder of the same name as the zip</p>
            
        </div>
    </div>
    <br>
      <div class="row mb-20 align-items-center">
        <div class="col">
            <h3>Step 3. Place Quickbooks reports into the inputs folder within the extracted folder </h3>
            <br>
            <p> n.b Got the files somewhere else? Use shift + right click on the folder containing your Quickbooks reports and select 'copy as path' and use  this in place of ./input in the command in Step 4.</p>
            
        </div>
    </div>
    <br>
 
      <div class="row mb-20 align-items-center">
          <div class="col">
              <h3>Step 4. Run the CLI command</h3>
              <br>
              <p> ./mps_reporter_cli.exe --config config.yaml --input_path ./inputs --output_path ./outputs</p>
          </div>
      </div>
      <br>
   
      <div class="row mb-20 align-items-end">
          <div class="col">
              <h3>Step 5. Check the output folder for your result </h3>
              <br>
              <p> there should now be a file in the format mps_report.yyyy.mm.dd.csv </p>
            
          </div>
      </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>

  <!-- Include Bootstrap JS (Optional, for certain Bootstrap features) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>